In [1]:
# Import pandas

In [3]:
# Create a pandas series of 3 students. Alice, Bob, and Cam

In [3]:
# Create two series from two lists, one with 2 string/1None and another with 2 ints/1None.
# Print both, what's the difference?

In [4]:
# Use a conditional to check if the np nan is the same as the python native none

In [5]:
# Create the following dictionary
'''
student_scores {
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English'
}
'''
# and place it in a pandas series

"\nstudent_scores {\n    'Alice': 'Physics',\n    'Jack': 'Chemistry',\n    'Molly': 'English'\n}\n"

In [6]:
# Get the index of the student scores series above

In [7]:
# Create a list of tuples with the following values
# alice, brown
# jack, white
# molly, green
# Then, turn it into a series
# QUESTION: What kind of dtype do you think it'll be?

In [8]:
# using the list of tuples above, make the names be the index column

In [9]:
# Create a series from the following dictionary
"""
student_scores {
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English'
}
"""
# Replace Molly with Sam as the third index.
# QUESTION: What will be the value associated with Sam?

"\nstudent_scores {\n    'Alice': 'Physics',\n    'Jack': 'Chemistry',\n    'Molly': 'English'\n}\n"