In [1]:
# Import pandas

In [1]:
import pandas as pd

In [3]:
# Create a pandas series of 3 students. Alice, Bob, and Cam

In [13]:
students = ["Alice", "Bob", "Cam"]
our_students = pd.Series(students)

In [17]:
# Create two lists, one with 2 string/1None and another with 2 ints/1None.
# Print both, what's the difference?

In [18]:
one = pd.Series(["a", "b", None])
two = pd.Series([1, 2, None])
one, two

(0       a
 1       b
 2    None
 dtype: object,
 0    1.0
 1    2.0
 2    NaN
 dtype: float64)

In [19]:
# Use a conditional to check if the np nan is the same as the python native none

In [23]:
import numpy as np
if np.nan == None:
    print("same")
else:
    print("different")

different

In [27]:
# Create the following dictionary
'''
student_scores {
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English'
}
'''
# and place it in a pandas series

"\nstudent_scores {\n    'Alice': 'Physics',\n    'Jack': 'Chemistry',\n    'Molly': 'English'\n}\n"

In [29]:
student_scores = {
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English'
}

s = pd.Series(student_scores)

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [30]:
# Get the index of the student scores series above

In [31]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [40]:
# Create a list of tuples with the following values
# alice, brown
# jack, white
# molly, green
# Then, turn it into a series
# QUESTION: What kind of dtype do you think it'll be?

In [41]:
ls = [('alice', 'brown'),('jack', 'white'), ('molly', 'green')]
s = pd.Series(ls)
s

0    (alice, brown)
1     (jack, white)
2    (molly, green)
dtype: object

In [37]:
# using the list of tuples above, make the names be the index column

tuple

In [42]:
s = pd.Series([i[1] for i in a], index=[i[0] for i in a])
s

alice    brown
jack     white
molly    green
dtype: object

In [45]:
# Create a series from the following dictionary
"""
student_scores {
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English'
}
"""
# Replace Molly with Sam as the third index.
# QUESTION: What will be the value associated with Sam?

"\nstudent_scores {\n    'Alice': 'Physics',\n    'Jack': 'Chemistry',\n    'Molly': 'English'\n}\n"

In [46]:
student_scores = {
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English'
}

s = pd.Series(student_scores, index=['Alice', 'Jack', 'Sam'])
s

Alice      Physics
Jack     Chemistry
Sam            NaN
dtype: object