In [1]:
#import pandas

In [2]:
# Read in the Admission_Predict.csv at ../../data/Admission_Predict.csv and set the index column 
# to the first column (index at 0)

In [3]:
# make your way through all columns, making them all lowercase and stripping all whitespace

In [4]:
# Create a mask for the "chance of admit" column. Make it mask values greater than 0.7

In [5]:
# Using the where method 
# Use the new rating mask, lay it on top of our original dataframe and output that

In [6]:
# Do the same but this time drop the values with NaN

In [7]:
# Use the shorthand version now to do both the where and dropna of the above

In [8]:
# Use the same [] operator to output a df with only the gre score and toefl score as columns

In [9]:
# Combine boolear operators to output the df dataframe
# where the chance of admit is over 70 percent and the toefl score is over 115

In [ ]:
# What is the second way to do the above, but with lt and gt. Recall the difference
# is the no longer necessity of the parenthesis