In [1]:
#Import pandas

In [2]:
import pandas as pd

In [3]:
# Create the following dictionary
'''
student_classes {
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English',
    'Sam': 'History'
}
'''
# and place it in a pandas series

"\nstudent_scores {\n    'Alice': 'Physics',\n    'Jack': 'Chemistry',\n    'Molly': 'English',\n    'Sam': 'History'\n}\n"

In [5]:
student_classes = {
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English',
    'Sam': 'History'
}
s = pd.Series(student_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [8]:
# index into the fourth entry in the series above, using an integer. You should print 'History'

In [9]:
s.iloc[3]

'History'

In [10]:
# index into Molly's attribute

In [11]:
s.loc['Molly']

'English'

In [13]:
# Create the following dictionary
"""
class_code {
    99: "Physics",
    100: "Chemistry",
    101: "English",
    102: "History"
}
"""
# Set it as a series, and obtain the very first entry via numerical index. 
# You should output "Physics"

'\nclass_code {\n    99: "Physics",\n    100: "Chemistry",\n    101: "English",\n    102: "History"\n}\n'

In [14]:
class_code = {
    99: "Physics",
    100: "Chemistry",
    101: "English",
    102: "History"
} 

s = pd.Series(class_code)
s.iloc[0]

'Physics'

In [16]:
# Rewrite the following code using just a pandas Series and numpy 
"""
grades = a series with values 90, 80, 70, 60

total = 0
for grade in grades
    total += grade
print(total / len(grades))
"""
# Output should be 75.0

'\ngrades = a series with values 90, 80, 70, 60\n\ntotal = 0\nfor grade in grades\n    total += grade\nprint(total / len(grades))\n'

In [18]:
import numpy as np
grades = pd.Series([90, 80, 70, 60])
total = np.sum(grades)
print(total / len(grades))

75.0

In [19]:
# use random and randint to create a series of size 10k 
# with each entry being between 0 and 1000. 
# Verify it's size with len and print the first 15 values

In [21]:
numbers = pd.Series(np.random.randint(0, 1000, 10000))
len(numbers), numbers.head(15)

(10000,
 0      68
 1     995
 2     127
 3     545
 4     946
 5     852
 6     422
 7     601
 8     815
 9     148
 10    741
 11    537
 12    981
 13     47
 14    190
 dtype: int64)

In [26]:
# Icrease everything in the series above by 2, use the most effective method possible
# QUESTION: Why is this the most effective method

In [25]:
numbers += 2 
numbers.head
# This is the most effective method because of vectorization. 
# Numpy makes use of parallelization to add to all values simultaneously,
# Instead of iterating through all values. Thanks, GPU!

<bound method NDFrame.head of 0         74
1       1001
2        133
3        551
4        952
        ...
9995     178
9996     182
9997     496
9998     739
9999     454
Length: 10000, dtype: int64>

In [27]:
# Create a series with 3 integers, and then use loc to add 
# history, 102

In [28]:
s = pd.Series([1, 2, 3])
s.loc['History'] = 102
s

0            1
1            2
2            3
History    102
dtype: int64

In [ ]:
# Create the following dictionary 
"""
student_classes = {
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English',
    'Sam': 'History'
}
"""
# Turn it into a series 
# Then, create a second series with 3 entries, all of which have the same index, "kelly". 
# make the values be philosophy, arts, and math.

In [46]:
# student_classes = {
#     'Alice': 'Physics',
#     'Jack': 'Chemistry',
#     'Molly': 'English',
#     'Sam': 'History'
# }
student_classes = pd.Series({
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English',
    'Sam': 'History'
})
kelly_classes = pd.Series(["Philosophy", "arts", "math"], index=["Kelly","Kelly","Kelly"])

In [47]:
# Append the kelly series to the student classes series

In [52]:
all_student_classes = pd.concat([student_classes, kelly_classes])
all_student_classes

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          arts
Kelly          math
dtype: object

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object