In [1]:
#Import pandas

In [1]:
import pandas as pd

In [2]:
# Create the following dictionary
'''
student_classes {
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English',
    'Sam': 'History'
}
'''
# and place it in a pandas series

"\nstudent_classes {\n    'Alice': 'Physics',\n    'Jack': 'Chemistry',\n    'Molly': 'English',\n    'Sam': 'History'\n}\n"

In [3]:
student_classes = {
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English',
    'Sam': 'History'
}
s = pd.Series(student_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [3]:
# index into the fourth entry in the series above, using an integer. You should print 'History'

In [4]:
s.iloc[3]

'History'

In [4]:
# index into Molly's attribute (Should be english)

In [5]:
s.loc["Molly"]

'English'

In [5]:
# Create the following dictionary
"""
class_code {
    99: "Physics",
    100: "Chemistry",
    101: "English",
    102: "History"
}
"""
# Set it as a series, and obtain the very first entry via numerical index. 
# You should output "Physics"

'\nclass_code {\n    99: "Physics",\n    100: "Chemistry",\n    101: "English",\n    102: "History"\n}\n'

In [6]:
class_code = {
    99: "Physics",
    100: "Chemistry",
    101: "English",
    102: "History"
}
s = pd.Series(class_code)
s.iloc[0]

'Physics'

In [6]:
# Rewrite the following code using just a pandas Series and numpy 
"""
grades = a series with values 90, 80, 70, 60

total = 0
for grade in grades
    total += grade
print(total / len(grades))
"""
# Output should be 75.0

'\ngrades = a series with values 90, 80, 70, 60\n\ntotal = 0\nfor grade in grades\n    total += grade\nprint(total / len(grades))\n'

In [10]:
import numpy as np
grades = pd.Series([80,90,70,60])
total = np.sum(grades)
total / len(grades)

75.0

In [7]:
# use random and randint to create a series of size 10k 
# with each entry being between 0 and 1000. 
# Verify it's size with len and print the first 15 values

In [22]:
ls = np.random.randint(0,1000,10000)
s = pd.Series(ls)
s.head(15)

0     419
1     768
2     843
3     305
4     378
5     701
6     650
7     949
8     281
9     506
10    635
11     62
12    847
13    568
14    705
dtype: int64

In [8]:
# Icrease everything in the series above by 2, use the most effective method possible
# QUESTION: Why is this the most effective method

In [23]:
s += 2
s

0       421
1       770
2       845
3       307
4       380
       ...
9995    672
9996     20
9997    733
9998    110
9999     43
Length: 10000, dtype: int64

In [9]:
# Create a series with 3 integers, and then use loc to add 
# history, 102

In [24]:
s = pd.Series([1,2,3])
s.loc["history"] = 102
s

0            1
1            2
2            3
history    102
dtype: int64

In [10]:
# Create the following dictionary 
"""
student_classes = {
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English',
    'Sam': 'History'
}
"""
# Turn it into a series 
# Then, create a second series with 3 entries, all of which have the same index, "kelly". 
# make the values be philosophy, arts, and math.

"\nstudent_classes = {\n    'Alice': 'Physics',\n    'Jack': 'Chemistry',\n    'Molly': 'English',\n    'Sam': 'History'\n}\n"

In [31]:
student_classes = {
    'Alice': 'Physics',
    'Jack': 'Chemistry',
    'Molly': 'English',
    'Sam': 'History'
}
s = pd.Series(student_classes)
kelly = pd.Series(["Philosophy", "Arts", "math"], index=["kelly", "kelly", "kelly"])
kelly

kelly    Philosophy
kelly          Arts
kelly          math
dtype: object

In [11]:
# Append the kelly series to the student classes series

In [32]:
new = pd.concat([s, kelly])
new

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
kelly    Philosophy
kelly          Arts
kelly          math
dtype: object